:root {
    --background-color: #d8cece;
    --primary-color: #014266;
    --secondary-color: #86bbec;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER */

header {
    padding: 20px 30px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("../images/nightSky.jpeg");
    background-size: cover;
    background-position-y: 50%;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}


header nav {
    margin: 7px 0;
    justify-content: right;
    /* flex-direction: column; */
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.5vw;
}

header nav ul a:hover{
    color: var(--background-color);
}

/* BODY */

body {
    background-color: var(--background-color);
}

/* JUMBOTRON */

.portrait {
    width: 80%;
    margin: 20px auto 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--primary-color);
}

.portrait img {
    width: 200px;
    border-radius: 50%;
}

/* ABOUT ME */

.section {
    width: 80%;
    margin: auto;
    display: flex;
}


.section-title {
    color: var(--primary-color);
    font-size: 40px;
    border-right: 2px solid var(--primary-color);
    padding-right: 20px;
    margin: 2%;
}

.moreMe {
    display: flex;
    flex-wrap: wrap;
}

.moreMeCard {
    color: var(--secondary-color);
    width: 400px;
    height: 400px;
    text-align: center;
    margin: 10px;
    border-radius: 25px;
    flex-grow: 1;
}

.moreMeCard h3 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 20px auto;
    width: 70%;
    /* border-radius: 40%; */
}

.moreMeCard p {
    color: var(--primary-color);
    padding: 10px;
    width: 40%;
    margin: 150px 0;
    background-color: rgba(99, 168, 189, 0.8);
    border: 1px solid;
    display: none;
    /* border-radius: 10px; */
}

.moreMeCard:hover h3 {
    color: var(--primary-color);;
    /* background-color: rgba(153, 154, 155, 0.932); */
    text-decoration: underline var(--primary-color);
}

.moreMeCard:hover p {
    display: block;
}

.moreMeCard p {
    padding: 30px;
}


.mmCard1 {
    background-image: url(../images/baltimore.jpeg);
    background-size: cover;
    background-position: center;
}

.mmCard2 {
    background-image: url(../images/wedding.jpeg);
    background-size: cover;
    background-position: center;
}

.mmCard3 {
    background-image: url(../images/pyramidView.jpeg);
    background-size: cover;
    background-position: center;
}

/* MY WORK */

.mmCard4 {
    background-image: url(../images/run-buddy.jpeg);
    background-size: cover;
    background-position: center;
    /* flex: 2 0 600px; */
}

.mmCard5 {
    background-image: url(../images/greatWall.jpeg);
    background-size: cover;
    background-position: center;
    /* flex: 1 0 300px; */
}

.mmCard6 {
    background-image: url(../images/machuPicchu.jpeg);
    background-size: cover;
    background-position: center;
    /* flex: 1 0 300px; */
}


/* CONTACT */

.contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.addCard {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 30px;
    height: 200px;
    /* width: 50%; */
    border-radius: 30px;
    margin: 20px 20px;
    text-align: center;
    padding: 30px;
    flex: 1 0 200px;
}

.addCard h3 {
    background: rgba(255, 255, 255, 0.4);
}

.place {
    background-image: url(../images/world.jpeg);
    background-size: cover;
}

.phone {
    background-image: url(../images/phone.jpeg);
    background-size: cover;
}

.email {
    background-image: url(../images/email.jpeg);
    background-size: cover;
}

.linkedIn {
    background-image: url(../images/network.jpeg);
    background-size: cover;
    color: var(--secondary-color);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

}

/* MEDIA QUERY FOR TABLETS AND SMALLER*/
@media screen and (max-width:768px) {

header {
    background-image:none;
    background-color: var(--primary-color);
    flex-direction: column;
    align-items: center;
}

header h1 {
    border-bottom: 3px solid var(--secondary-color);
    width: 70%;
    margin: 15px auto;
    text-align: center;
}

header nav ul {
    flex-direction: column;
}

header nav ul a {
    font-size: 20px;
    margin: auto 30px;
    /* border: 5px solid; */
}

.section {
    flex-direction: column;
}

.section-title {
    border-right: none;
    border-bottom: 2px solid;
    text-align: center;
}

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

header h1 {
    font-size: 25px;
}

header nav ul a {
    font-size: 15px;
}



}