:root {
    --background-color: #dadada;
    --primary-color: #014266;
    --secondary-color: #86bbec;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    padding: 20px 30px;
    height: 200px;
    display: flex;
    /* background-color: var(--secondary-color); */
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("../images/nightSky.jpeg");
    background-size: cover;
    background-position-y: 50%;
}

header h1 {
    font-size: 36px;
    font-weight: bold;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}


header nav {
    margin: 7px 0;
    justify-content: right;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.5vw;
}

header nav ul a:hover{
    color: var(--background-color);
}

/* BODY */

body {
    background-color: var(--background-color);
}

/* JUMBOTRON */

.portrait {
    width: 80%;
    margin: 20px auto 30px;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--primary-color);
}

.portrait img {
    width: 200px;
    border-radius: 50%;
    /* border: 10px solid; */
}

/* ABOUT ME */

.section {
    width: 80%;
    margin: auto;
    display: flex;
    /* border: 10px solid pink; */
}


.section-title {
    color: var(--primary-color);
    font-size: 40px;
    border-right: 2px solid var(--primary-color);
    padding-right: 20px;
    margin: 2%;
}

.moreMe {
    display: flex;
    flex-wrap: wrap;
    /* border: 10px solid lime; */
}

.moreMeCard {
    color: var(--secondary-color);
    width: 400px;
    height: 400px;
    text-align: center;
    margin: 10px;
    /* padding: 20px; */
    border-radius: 25px;
    flex-grow: 1;
    /* border: 10px solid blue; */
}

.moreMeCard h3 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 20px auto;
    /* background-color: rgba(218, 240, 94, 0.3); */
    width: 70%;
    border-radius: 40%;
}

.moreMeCard p {
    padding: 10px;
    width: 70%;
    margin: 20px auto;
}

.moreMeCard:hover h3 {
    color: var(--primary-color);
    background-color: rgba(139, 212, 238, 0.932);
}

.moreMeCard p {
    padding: 30px;
}

.mmCard1 {
    background-image: url(../images/baltimore.jpeg);
    background-size: cover;
    background-position: center;
}

.mmCard2 {
    background-image: url(../images/wedding.jpeg);
    background-size: cover;
    background-position: center;
}

.mmCard3 {
    background-image: url(../images/pyramidView.jpeg);
    background-size: cover;
    background-position: center;
}


/* CONTACT */

.contact {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* border: 10px solid black; */
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.addCard {
    color: black;
    text-decoration: none;
    font-size: 30px;
    height: 200px;
    width: 40%;
    border-radius: 30px;
    margin: 20px;
    text-align: center;
}

.place {
    background-image: url(../images/world.jpeg);
    background-size: cover;
}

.phone {
    background-image: url(../images/phone.jpeg);
    background-size: cover;
}

.email {
    background-image: url(../images/email.jpeg);
    background-size: cover;
}

.linkedIn {
    background-image: url(../images/network.jpeg);
    background-size: cover;
}